@charset "UTF-8";
@import "header.css";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "GmarketSansMedium";
  -ms-overflow-style: none;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100vh;
}

::-webkit-scrollbar-thumb {
  height: auto;
  background: #555;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  width: 5px;
  height: auto;
  background: #fff;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
}
@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }
  100% {
    fill: rgb(0, 0, 0);
  }
}
.svg-elem-1 {
  animation: animate-svg-fill-1 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.8s both;
}

svg {
  width: 800px;
  height: 800px;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 20%;
}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 3000;
  animation: dash 2s linear alternate infinite;
}

@keyframes dash {
  30% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 100;
    fill: #555;
  }
  /*     
    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -40%;
        fill: hsla(189, 68%, 75%,0%)
    } */
}
#page1 {
  z-index: 1000;
  height: 500vw;
  background: #ededed;
}
#page1 .main_info {
  width: 500vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.6s ease-out;
  display: flex;
  flex-direction: row;
  z-index: 900;
}
#page1 .main_info .intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 800;
}
#page1 .main_info .intro > span {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#page1 .main_info .intro > span .wrapper {
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  border: 1px solid #555;
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
}
#page1 .main_info .intro .first_p .main {
  width: 100vw;
  height: 100vh;
}
#page1 .main_info .intro .first_p .main .typing {
  width: 32ch;
  height: 35px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  line-height: 40px;
  text-align: left;
  font-weight: 700;
  color: #333;
  animation: typing 2s steps(27), blink 0.5s step-end infinite alternate;
  /* animation-iteration-count:1; */
  border-right: 3px solid #555;
  overflow: hidden;
}
#page1 .main_info .intro .first_p .main .start {
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
}
#page1 .main_info .intro .first_p .main .start .arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-top: 3px solid #1f1f1f;
  border-right: 3px solid rgb(255, 255, 255);
  /* transform: rotate(90deg); */
  margin: -10px;
  animation: animate 2s infinite;
}
#page1 .main_info .intro .first_p .main .start .arrow:nth-child(2) {
  animation-delay: -0.2s;
}
#page1 .main_info .intro .first_p .main .start .arrow:nth-child(3) {
  animation-delay: -0.4s;
}
#page1 .main_info .intro .first_p .cat_ani {
  position: absolute;
  bottom: 10%;
  right: 10%;
  border: 1 solid #555;
  background: #777;
  width: 120px;
  height: 200px;
}
#page1 .main_info .intro .first_p #mouse {
  width: 35px;
  height: 50px;
  position: fixed;
  bottom: 2rem;
  display: inline-block;
  left: 50%;
  border: 2px solid #555;
  border-radius: 30px;
  z-index: 88888;
}
#page1 .main_info .intro .first_p #mouse .wheel {
  content: "";
  position: absolute;
  width: 3px;
  height: 14px;
  border-radius: 3px;
  background: #555;
  left: 50%;
  top: 6px;
  transform: translate(-50%, 0px);
  z-index: 88887;
}
#page1 .main_info .intro .first_p #mouse .drag {
  position: absolute;
  display: block;
  top: 0%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  animation: ani-drag 2.5s linear infinite;
  z-index: 88889;
}
#page1 .main_info .intro .second_p {
  width: 100%;
}
#page1 .main_info .intro .second_p > .wrapper {
  border: 0;
}
#page1 .main_info .intro .second_p .card_wrapper {
  width: 90%;
  max-width: 80rem;
  height: 80vh;
  max-height: 150rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card {
  margin: 0px 20px 0px 0px;
  height: 90%;
  width: 15%;
  transition: 400ms all ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card.active {
  width: 80%;
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card.active .card h3, #page1 .main_info .intro .second_p .card_wrapper .expending_card.active .card p {
  opacity: 1;
  transform: translateX(0);
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card.active .card .card_header {
  width: 5rem;
  height: 5rem;
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card.active .card .card_header > img {
  width: 2.5rem;
  height: 2.5rem;
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card.move1 {
  background-image: url("../attr/card/card1.png");
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card.move2 {
  background-image: url("../attr/card/card2.png");
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card.move3 {
  background-image: url("../attr/card/card3.png");
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card:last-child {
  margin-right: 0;
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card .card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 9rem;
  padding: 0 0 2rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  transition: 450ms all ease-in-out;
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card .card_header {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: #f09;
  transition: 450ms all ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card .card_header > img {
  width: 1.5rem;
  height: 1.5rem;
  transition: 450ms all ease-in-out;
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card > h3 {
  top: 0;
  font-size: 1.8rem;
  transition: 350ms 200ms all ease-in-out;
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card > p {
  top: 3rem;
  font-size: 1.3rem;
  transition: 350ms 300ms all ease-in-out;
}
#page1 .main_info .intro .second_p .card_wrapper .expending_card > h3, #page1 .main_info .intro .second_p .card_wrapper .expending_card p {
  color: #fff;
  position: absolute;
  left: 9rem;
  width: 20rem;
  opacity: 0;
  transform: translateX(-15px);
}
#page1 .main_info .intro .third_p {
  background: #245;
}
#page1 .main_info .intro .third_p .icon {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* --------------------글자 타이핑 애니메이션-------------------- */
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* --------------------마우스 휠 애니메이션-------------------- */
@keyframes ani-drag {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
/* --------------------메인 이미지 화살표 애니메이션-------------------- */
@keyframes animate {
  0% {
    opacity: 0;
    transform: translate(-20px, 20px) rotate(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(20px, 20px) rotate(45deg);
  }
}
#page2 {
  background: #f54;
  z-index: 504;
}
#page2 .falling {
  width: 80%;
  height: 80%;
  border: 1px solid #555;
  position: absolute;
  top: 10%;
  left: 10%;
}

#page3 {
  background: #2e6;
  z-index: 505;
}

#page4 {
  background: #08d;
  z-index: 600;
}

#page5 {
  background: #507;
  height: 200vw;
  z-index: 401;
}
#page5 #last_wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 450;
  transition: all 0.6s ease-out;
}
#page5 #last_wrapper .last {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  z-index: 445;
  background: #f87;
}
#page5 #last_wrapper .last .last_p {
  background: #f47;
  width: 40vw;
  height: 30vh;
  display: flex;
  position: absolute;
  bottom: 30%;
  left: 40%;
  z-index: 435;
}